
doctype html
html(lang='en-US')
  head
    include ../template/header.jade

  body
    h2 sample
    h3 sample
    p sample
    p sample
    p sample
    p ito soichirok
    p fig
    h2 Ito Soichiro
    ul
      li smaple

    img(src="./img/ansatsu_icon_karuma.jpg")
